@media only screen and (max-width: 767px) {
/*____________________________________ Body ____________________________________*/

  body {font-size: 1em;}

/*___________________________________ Header ___________________________________*/

  header {margin: 50px; height: auto;}

  .header {width: 100%; height: auto;}

  .logo {width: 300px; height: auto;}

  /*-------------------------- Barre de navigation --------------------------*/

  nav {margin-top: 6px;}

  .menu {padding: 0 0.8%;}

  .menu li {margin-right: 3%;}

  .menu li a {padding: 57px 28px 0 28px;}

  .menu li {
    width: 50%;
    justify-content: space-around;
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
  }

  .menu li {
    padding: 0 0 3% 0;
  }

  .menu li:hover, .menu li:focus {
    border-bottom: 3px solid #0065fc;
  }

  .lien-signup:hover, .lien-signup:focus {
    color: #4068b2;
  }

    /*--------------------------- Zone de recherche --------------------------*/

  .recherche {height: auto; display: flow-root;}

  .recherche h2 {font-size: 0.85em;}

  .geoloc, .zone-recherche, .search, .listefiltres, .filtre {height: 40px;}

       /*----------------------- Barre de recherche -----------------------*/

  .barre-recherche {margin: 30px 0 80px 0; width: 100%; height: 20%;}

  .geoloc, .zone-recherche, .search, .searchmobile {height: 130px;}

  .geoloc, .searchmobile {font-size: 1.2em;}

  /*  Bouton géolocalisation */
  .geoloc {
    width: 40px;
    border-radius: 15px 0 0 15px;
    margin-right: -2px;
  }

  .fa-map-marker-alt {margin: 2px 2px 0 0;}

  /* Zone de saisie */
  .zone-recherche {width: 220px; margin-bottom: 10px; padding-left: 15px;}

  /* Bouton "Rechercher" */
  .search {width: 125px; border-radius: 0 15px 15px 0;}

  .searchmobile {width: 130px; margin-left: -40px; border-radius: 30%;}

       /*---------------------- Filtres de recherche ----------------------*/

  .listefiltres {width: 100%; margin: 15px 0 0 13px;}

  .listefiltres {width: 100%; height: auto; margin-top: 10px;}

  .listefiltres h3 {margin-top: 12px;}

  .btnfiltres {margin: 40px 0 0 -48px;}

  .div-filtre {margin-top: 10px;}

  .iconefiltre {
    width: 40px;
    height: 40px;
    font-size: 7px;
    margin: 0 -20px -50px 0;
  }

  .fa-money-bill-wave {padding: 14px 11px;}

  .fa-child {padding: 14px 15px;}

  .fa-heart {padding: 14px 13px;}

  .fa-dog {padding: 12px 12px;}

  .filtre {width: margin-right: 24px; padding-left: 25px; font-size: 0.88em;}

       /*------------ Ligne informative : nombre hébergements dispo -----------*/

  .point-info {margin: 70px 0 -10px 13px;}

  .icone-info {width: 24px; height: 24px;}

  .fa-info {margin: 6px 0 0 9px;}

/*____________________________________ Main ____________________________________*/

    main {margin: 0 40px;}

    /*------------------- Grand conteneur des héébergements -------------------*/

  #hebergements {
    height: auto;
    margin: 50px 0 37px 0;
    display: flex;
    flex-wrap: wrap;
  }

  .hebliste, .populiste {height: 550px; margin-top: 37px;}

  .note {margin: 0 0 1% 5%;}

  h2 {font-size: 1.3em;}

       /*--------------------- Liste des hébergements ---------------------*/

  .hebliste h2 {margin: 47px 5% 10px 5%;}

  .hconteneur-flexible {height: 390px; padding: 0 2.8%;}

  .hélément-flexible {width: 28.5%; max-height: 190px; margin: 1.9% 2%;}

  .hfigure {width: 95%; margin: 2.5% 2% 1% 2.5%;}

  .imghebergement {height: 90px;}

  .hfigcaption h4, .hfigcaption p, #more {margin-left: 5%;}

  .hfigcaption h4 {margin: 3% 0;}

  .hfigcaption p {margin: 0 5% 2% 0;}

  #more {margin-top: 20px 0 0 5%; font-size: 1.2em;}

       /*--------------------- Héébergements populaires --------------------*/

  .en-tete-populaire {margin: 30px 10% -2px 10%;}

  .populiste h2 {width: 100%;}

  .pconteneur-flexible, .pélément-flexible {margin: 0 10px;}

  .pconteneur-flexible {margin: -1px 0 5px 0;}

  .pélément-flexible {
    height: 115px;
    margin: 9px  0  20px  0;
    padding: 0.5% 8% 0.5% 0.5%;
  }

  .pfigure {min-height: 90px; max-height: 115px; margin: 1.5%;}

  .pfigcaption {max-width: 170px; margin: 5px 0 0 5px;}

  .pfigcaption h4, .pfigcaption p {margin-left: 5%;}

  .pfigcaption h4 {margin-bottom: 3%;}

  .pfigcaption p {margin: 0 5% 2% 0;}

  .notehebpopulaire {margin-left: 3%;}

  /*------------------------------- Activités ------------------------------*/

  #activites {
    height: auto;
    margin: 80px 5% 37px 5%;
    font-size: 1em;
  }

  .aconteneur {
    /* créé une grille répétitive de 4 colonne faisant 22% de large*/
    grid-template-columns: repeat(4, 22%);
  }

  .box1, .box4 {height: 445px}

  .box2 {height: 236px;}

  .box3 {height: 165px; margin-top: -165px;}

  .box5, .box6 {height: 209px;}

  .box6 {margin-top: -210px;}

  .afigure {margin: -0.5px 40px 0 -0.3px;}

  .imgactivites {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .img-xl, .img-l, .img-m, .img-s {width: 100%;}

  .img-xl {height: 390px;}

  .img-l {height: 180px;}

  .img-m {height: 153px;}

  .img-s {height: 109px;}

  .afigcaption h4 {margin: 15px 0 0 15px;}

/*___________________________________ Footer ___________________________________*/

  footer {
    margin-top: 61px;
    height: auto;
  }

  footer section {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .partiesfooter {width: 100%; margin-left: 70px; margin-bottom: 7%;}

  .liensfooter {margin: 25px 0 0 -30px;}

  .liensfooter li {margin-left: -10px; margin-top: 19px;}
}
